Node-red/ej1.json
[{"id":"136c09df.f6cc36","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"678df06a.c568c8","type":"http in","z":"136c09df.f6cc36","name":"","url":"/suma","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["4336ce7d.5420b","83b5581d.1d231"]]},{"id":"4336ce7d.5420b","type":"function","z":"136c09df.f6cc36","name":"suma de vectores","func":"var array = []\n\nvar longitud_a = msg.req.body.a.length;\nvar longitud_b = msg.req.body.b.length;\n\nif(longitud_a >= longitud_b){\n    \n    for(var i = 0; i < longitud_a; i++){\n        if(i > longitud_b - 1) array[i] = msg.req.body.a[i]\n        else array[i] = msg.req.body.a[i] + msg.req.body.b[i];\n        console.log(array[i])\n        \n    }\n}\nelse{\n    \n    for(var j = 0; j < longitud_b; j++){\n        if(j > longitud_a -1) array[j] = msg.req.body.b[j];\n        else array[j] = msg.req.body.a[j] + msg.req.body.b[j];\n    }\n}\n\nmsg.payload = {\"resultado\":array}\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["2253a9e2.e84386","25cd1a6c.1cece6"]]},{"id":"2253a9e2.e84386","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"ce59783d.470fb8","type":"http in","z":"136c09df.f6cc36","name":"","url":"/resta","method":"get","upload":false,"swaggerDoc":"","x":140,"y":580,"wires":[["ec1af780.f41328","61175f23.801878"]]},{"id":"ec1af780.f41328","type":"function","z":"136c09df.f6cc36","name":"resta de vectores","func":"var array = []\n\nvar longitud_a = msg.req.body.a.length;\nvar longitud_b = msg.req.body.b.length;\n\nif(longitud_a >= longitud_b){\n    \n    for(var i = 0; i < longitud_a; i++){\n        if(i > longitud_b - 1) array[i] = msg.req.body.a[i]\n        else array[i] = msg.req.body.a[i] - msg.req.body.b[i];\n        \n    }\n}\nelse{\n    \n    for(var j = 0; j < longitud_b; j++){\n        if(j > longitud_a -1) array[j] = 0 - msg.req.body.b[j];\n        else array[j] = msg.req.body.a[j] - msg.req.body.b[j];\n    }\n}\n\nmsg.payload = {\"resultado\":array}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["9fab8d9.2f7edf","4277e8ef.31fca8"]]},{"id":"9fab8d9.2f7edf","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":660,"wires":[]},{"id":"bee17c53.12b558","type":"http in","z":"136c09df.f6cc36","name":"","url":"/multvec","method":"get","upload":false,"swaggerDoc":"","x":150,"y":900,"wires":[["b955e5f4.939b3","e07bd9f3.db8068"]]},{"id":"b955e5f4.939b3","type":"function","z":"136c09df.f6cc36","name":"mult. de vectores","func":"var array = []\n\nvar longitud_a = msg.req.body.a.length;\nvar longitud_b = msg.req.body.b.length;\n\nif(longitud_a >= longitud_b){\n    \n    for(var i = 0; i < longitud_a; i++){\n        if(i > longitud_b - 1) array[i] = msg.req.body.a[i]\n        else array[i] = msg.req.body.a[i] * msg.req.body.b[i];\n        \n    }\n}\nelse{\n    for(var j = 0; j < longitud_b; j++){\n        if(j > longitud_a -1) array[j] = msg.req.body.b[j];\n        else array[j] = msg.req.body.a[j] * msg.req.body.b[j];\n    }\n}\n\nmsg.payload = {\"resultado\":array}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":900,"wires":[["6071dc6a.187b64","1607915a.a48b0f"]]},{"id":"6071dc6a.187b64","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":980,"wires":[]},{"id":"fda79bdd.0e96f","type":"http in","z":"136c09df.f6cc36","name":"","url":"/multesc","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1180,"wires":[["5b69e41a.f224ec","93a7c770.2c1d08"]]},{"id":"5b69e41a.f224ec","type":"function","z":"136c09df.f6cc36","name":"mult. de vectores por escalar","func":"var array = []\nfor(var i = 0; i < msg.req.body.a.length; i++){\n    array[i] = msg.req.body.a[i] * msg.req.body.n;\n}\n\nconsole.log(array)\nmsg.payload = {\"resultado\":array}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1180,"wires":[["2de61140.691836","928aa0de.4aa4c8"]]},{"id":"2de61140.691836","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":1260,"wires":[]},{"id":"da0cbc50.f13358","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":220,"wires":[[]]},{"id":"83b5581d.1d231","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de sumar: [{{req.body.a}}] y [{{req.body.b}}] es:","output":"str","x":360,"y":220,"wires":[["da0cbc50.f13358"]]},{"id":"25cd1a6c.1cece6","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":300,"wires":[["da0cbc50.f13358"]]},{"id":"b1d1e443.ae4ee8","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":500,"wires":[[]]},{"id":"61175f23.801878","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de restar: [{{req.body.a}}] y [{{req.body.b}}] es:","output":"str","x":360,"y":500,"wires":[["b1d1e443.ae4ee8"]]},{"id":"4277e8ef.31fca8","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":580,"wires":[["b1d1e443.ae4ee8"]]},{"id":"e64d7485.b95668","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":800,"wires":[[]]},{"id":"e07bd9f3.db8068","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de multiplicar: [{{req.body.a}}] y [{{req.body.b}}] es:","output":"str","x":360,"y":800,"wires":[["e64d7485.b95668"]]},{"id":"6ca39a7c.e01484","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":1120,"wires":[[]]},{"id":"93a7c770.2c1d08","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de sumar: [{{req.body.a}}] por {{req.body.n}} es:","output":"str","x":360,"y":1120,"wires":[["6ca39a7c.e01484"]]},{"id":"928aa0de.4aa4c8","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":1180,"wires":[["6ca39a7c.e01484"]]},{"id":"1607915a.a48b0f","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":900,"wires":[["e64d7485.b95668"]]},{"id":"c09dfab3.ebb3a","type":"http in","z":"136c09df.f6cc36","name":"","url":"/multescvec","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1500,"wires":[["22b0d94.31173a6","8f309bbf.f65f"]]},{"id":"22b0d94.31173a6","type":"function","z":"136c09df.f6cc36","name":"prod.escalar","func":"var array = []\nvar aux = 0;\nvar longitud_a = msg.req.body.a.length;\nvar longitud_b = msg.req.body.b.length;\n\nif(longitud_a >= longitud_b){\n    \n    for(var i = 0; i < longitud_a; i++){\n        if(i > longitud_b - 1) array[i] = msg.req.body.a[i]\n        else array[i] = msg.req.body.a[i] * msg.req.body.b[i];\n    }\n}\n\nelse{\n    for(var j = 0; j < longitud_b; j++){\n        if(j > longitud_a -1) array[j] = msg.req.body.b[j];\n        else array[j] = msg.req.body.a[j] * msg.req.body.b[j];\n    }\n}\n\nvar longitud_array= array.length;\nfor(var k = 0; k < longitud_array; k++){\n    \n    aux += array[k];\n}\n\n\nmsg.payload = {\"resultado\":aux}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1500,"wires":[["d94148c7.2634c","a824e17a.20a648"]]},{"id":"d94148c7.2634c","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":1580,"wires":[]},{"id":"8cfa5a6e.e690c","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":1400,"wires":[[]]},{"id":"8f309bbf.f65f","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de multiplicar: [{{req.body.a}}] y [{{req.body.b}}] es:","output":"str","x":360,"y":1400,"wires":[["8cfa5a6e.e690c"]]},{"id":"a824e17a.20a648","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":1500,"wires":[["8cfa5a6e.e690c"]]},{"id":"ecfc622a.5491b8","type":"http in","z":"136c09df.f6cc36","name":"","url":"/opuesto","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1780,"wires":[["fa44751f.399688","9a8c1bbf.e186b"]]},{"id":"fa44751f.399688","type":"function","z":"136c09df.f6cc36","name":"opuesto de vectores","func":"var array = []\n\nvar longitud_a = msg.req.body.a.length;\n\nfor(var i = 0; i < longitud_a; i++){\n    array[i] = msg.req.body.a[i] * -1;\n    \n}\n\nmsg.payload = {\"resultado\":array}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1780,"wires":[["fe447bad.994a5","74c8435a.ef0cac"]]},{"id":"fe447bad.994a5","type":"http response","z":"136c09df.f6cc36","name":"","statusCode":"","headers":{},"x":650,"y":1860,"wires":[]},{"id":"70d35899.ce6c5","type":"file","z":"136c09df.f6cc36","name":"","filename":"pruebanode","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":1680,"wires":[[]]},{"id":"9a8c1bbf.e186b","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El resultado de multiplicar: [{{req.body.a}}] y [{{req.body.b}}] es:","output":"str","x":360,"y":1680,"wires":[["70d35899.ce6c5"]]},{"id":"74c8435a.ef0cac","type":"template","z":"136c09df.f6cc36","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{payload.resultado}}]","output":"str","x":660,"y":1780,"wires":[["70d35899.ce6c5"]]}]