Node-red/ej2-mejora.json
[{"id":"b64052c3.61dcb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"17e62e11.1e727a","type":"mqtt in","z":"b64052c3.61dcb","name":"","topic":"/serfer/navluq","qos":"2","datatype":"auto","broker":"aca14fe4.ab9c38","x":450,"y":580,"wires":[["a0e9746b.2ac17"]]},{"id":"954076a7.e0efe8","type":"mqtt out","z":"b64052c3.61dcb","name":"test out","topic":"/serfer/navluq","qos":"2","retain":"","broker":"aca14fe4.ab9c38","x":480,"y":340,"wires":[]},{"id":"bc60c114.e88278","type":"inject","z":"b64052c3.61dcb","name":"Temperatura","topic":"","payload":"{\"Ciudad\":\"Arcos de la Frontera\",\"Temperatura\":36}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":190,"y":240,"wires":[["954076a7.e0efe8"]]},{"id":"19a5e4a7.9b8ee3","type":"inject","z":"b64052c3.61dcb","name":"Coche","topic":"","payload":"{\"Coche\":\"Seat\",\"AñoModelo\":2017}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":340,"wires":[["954076a7.e0efe8"]]},{"id":"5b994d21.66ca14","type":"inject","z":"b64052c3.61dcb","name":"String","topic":"","payload":"Hola a todos los profesores de Sistemas Distribuidos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["954076a7.e0efe8"]]},{"id":"afe0f74c.27a708","type":"comment","z":"b64052c3.61dcb","name":"","info":"Pulsar para probar","x":160,"y":180,"wires":[]},{"id":"a0e9746b.2ac17","type":"switch","z":"b64052c3.61dcb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Coche","vt":"str"},{"t":"cont","v":"Ciudad","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":580,"wires":[["424d42c7.75a344"],["d6219271.f192e"],["aa8af60.1c7e708"]]},{"id":"2e041264.f4f086","type":"template","z":"b64052c3.61dcb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El modelo del coche es {{payload.Coche}} y se lanzó al mercado el {{payload.AñoModelo}} !","output":"str","x":960,"y":480,"wires":[["9b97fa3f.5a4608"]]},{"id":"424d42c7.75a344","type":"json","z":"b64052c3.61dcb","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":480,"wires":[["2e041264.f4f086"]]},{"id":"bfc06eff.5ebb28","type":"template","z":"b64052c3.61dcb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La temperatura en {{payload.Ciudad}} es de {{payload.Temperatura}} ºC","output":"str","x":960,"y":580,"wires":[["3173a2b0.7ff946"]]},{"id":"d6219271.f192e","type":"json","z":"b64052c3.61dcb","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":580,"wires":[["bfc06eff.5ebb28"]]},{"id":"aa8af60.1c7e708","type":"debug","z":"b64052c3.61dcb","name":"string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":660,"wires":[]},{"id":"9b97fa3f.5a4608","type":"debug","z":"b64052c3.61dcb","name":"Coche","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":480,"wires":[]},{"id":"3173a2b0.7ff946","type":"debug","z":"b64052c3.61dcb","name":"Temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":580,"wires":[]},{"id":"aca14fe4.ab9c38","type":"mqtt-broker","z":"","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]