Node-red/ej2.json
[{"id":"ded88638.d75e08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b98eec6.108b22","type":"mqtt in","z":"ded88638.d75e08","name":"test/light","topic":"/merakimv/Q2GV-Y4R8-5Z3L/light","qos":"2","datatype":"auto","broker":"aca14fe4.ab9c38","x":100,"y":240,"wires":[["9c0d8ad6.3f2ad8"]]},{"id":"150b40cd.3a1db7","type":"debug","z":"ded88638.d75e08","name":"Imprimir Maximo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":160,"wires":[]},{"id":"f4460ba4.12129","type":"function","z":"ded88638.d75e08","name":"max","func":"var max = context.get('maximo') || 0;\nconsole.log(msg.payload.lux)\n\nif(msg.payload.lux > max ){\n    max = msg.payload.lux;\n    context.set('maximo',msg.payload.lux);\n}\n\nmsg.max = max;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["d91bbdf7.a9dfc"]]},{"id":"be82e6df.db4ab8","type":"json","z":"ded88638.d75e08","name":"string to json object","property":"payload","action":"obj","pretty":false,"x":500,"y":240,"wires":[["f4460ba4.12129","d93e0cab.3ecc58"]]},{"id":"d91bbdf7.a9dfc","type":"template","z":"ded88638.d75e08","name":"conversion","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Actualmente el máximo es: {{max}}!","output":"str","x":970,"y":160,"wires":[["150b40cd.3a1db7"]]},{"id":"d93e0cab.3ecc58","type":"template","z":"ded88638.d75e08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El valor recibido es: {{payload.lux}}","output":"str","x":760,"y":340,"wires":[["9a5dc9e9.477a08"]]},{"id":"9a5dc9e9.477a08","type":"debug","z":"ded88638.d75e08","name":"Imprimir recibido","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":340,"wires":[]},{"id":"9c0d8ad6.3f2ad8","type":"delay","z":"ded88638.d75e08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":240,"wires":[["be82e6df.db4ab8"]]},{"id":"aca14fe4.ab9c38","type":"mqtt-broker","z":"","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]