Node-red/ej3.json
[{"id":"95514438.b06298","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ba9dbb3d.7cee28","type":"e-mail","z":"95514438.b06298","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"@gmail.com","dname":"","x":930,"y":240,"wires":[]},{"id":"ad40fbfa.2bd8b","type":"inject","z":"95514438.b06298","name":"","topic":"","payload":"Son las 8 de la tarde es la hora de sacar al perro!","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["21a3b00e.907478"]]},{"id":"21a3b00e.907478","type":"function","z":"95514438.b06298","name":"horas","func":"var fecha = new Date();\nmsg.hours = fecha.getHours();\nconsole.log(msg.hours)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["667c3fac.2d9a"]]},{"id":"667c3fac.2d9a","type":"rbe","z":"95514438.b06298","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"hours","x":470,"y":200,"wires":[["6fbc1419.51608c"]]},{"id":"ccf93b8a.0a099","type":"debug","z":"95514438.b06298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":140,"wires":[]},{"id":"6fbc1419.51608c","type":"switch","z":"95514438.b06298","name":"¿son las 20:00?","property":"hours","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":200,"wires":[["ba9dbb3d.7cee28","ccf93b8a.0a099"]]}]